<html>
<head>
  <title>Result Page</title>
  </head>
  <body>
    <p>
      <H1>Here is a quick weather summary for <%= city %> for today!</H1>
    </p>
    <br />
    <br />
    <p>
    <H1>Temperature : <%= temp %> degrees Celsius</H1>
    </p>
    <p>
      <H1>Humidity : <%= humidity %> % </H1>
    </p>
    <p>
      <H1>Pressure : <%= pressure %> hectopascals </H1>
    </p>
    <p>
      <H1>Wind speed : <%= wind_speed %> mps </H1>

    </p>
    <p>
    <H1>Wind direction : <%= wind_direction %> degrees </H1>
    </p>

    </body>
</html>
